
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: "archivo", sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
}

.header {
    background-color: #333333;
    position: sticky;
    top: 0px;
    
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    background-color: #dddbe2;
    position: sticky;
    padding-right: 3rem;
}
.header__logo {
    width: 7rem;
    padding: 1rem;
}
.header__bdt{    
        position: relative;
        width: 20rem;
        height: 4rem;
}

a:-webkit-any-link {
    color:#333333;
    cursor: pointer;
    text-decoration: none;
}
.estiloLista li{
    display: inline-block;
    font-size: 1.7rem;
    justify-content:flex-end;
    padding: 1rem;
    position: sticky;
    top: 0px;
  
}
ul {
    list-style: none
}
.titulo__cel {
    background-color: #72bbaa;
    padding: 1rem;
}
.tabla__encabezado {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 6rem;
}
.section__multimedia {
    background-color: #e15a22;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50rem;

}
.section__multimedia div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
   
}
.section__info {
    background-color: #72bbaa ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    height: 50rem;
}

th {
    background-color: purple;
    color: white;
    font-weight: bolder;
}
.tabla__txtIzq {
    font-size: 1.3rem;
    text-align: justify;
    padding: 3rem;
}
.tabla__txtcen {
    font-size: 1.3rem;
    text-align: justify;
    padding: 3rem;
}
.tabla__txtder {
    font-size: 1.3rem;
    text-align: justify;
    padding: 3rem;
}
.blog {
    margin: 5rem;
    font-size: 1.5rem;
    text-align: justify;
}
.form__contacto{
    font-size: 1.5rem;
    font-weight: 6rem;
    text-align: justify;
    padding: 6rem;
}

.footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #333333;
        color: #dddbe2;
        font-size: 1.4rem;
        padding: 1rem;
}
.footer__copy{
    width: 33%;
    align-self: center;
    padding: 2rem;
   
}
.footer__maps{
    width: 33%;
    align-self: center;
    padding-left: 5rem;
    justify-content: flex-end;
}
.footer__datos{
    width: 33%;
    padding-left: 7rem;
    align-self: center;
}
 a.footer__linkedin {
    color:white;
}
.footer__im{
    width: 6rem;
}
footer ul{
    list-style: none;
}

.mapa{
    width: 60rem;
    padding-left: 3rem;
}
.section__mapa {
    align-self: center;
}
.section__md {
    padding: 15rem;
    font-size: 1.8rem;
    color: white;
    text-align:left;
}
.section__sobrenosotros {
display: flex;
flex-direction: row;
flex-wrap: nowrap;

}
.ventasimg {
    width: 70rem;
    justify-content: center;
    align-content: center;
    padding: 3rem;
}
.sobrenostext {
    justify-content: center;
}
.section__disenoweb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.img__dw {
    width: 50rem;
    padding: 3rem;
    align-items: center;
}
.section__redes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.section__seosem{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.seosem__img {
    width: 60rem;
    padding: 3rem;
}
.section__seosem li{
    padding: 1rem;
}

.img__md{
    width: 48rem;
    padding: 3rem;
    align-self: center;
    animation-name: multimedia;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;

}

div.index {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12rem auto auto auto 20rem;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer"
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
div.pagredes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12rem auto auto 20rem;
    grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "footer footer"
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
div.pagquienes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12rem auto auto 20rem;
    grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "footer footer"
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
ul.ulseosem1 {
    list-style: none;
}
ul.ulseosem2 {
    list-style: none;
}
.formindex {
    background-color: #333333;
    color: white;
    height: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.formindex ul{
    list-style: none;
}
.formindex li{
    padding: 1rem;
    width: auto;
    text-align: right;
    font-size: 1.5rem;

}
.formp{
    padding: 3rem;
    align-self: center;
    justify-self: center;
}
.formp p{
    font-size: 1.5rem;
    font-weight: bolder;
    justify-self: center;
    width: 100%;

}
.formindex__form{
    justify-self: center;
    align-self: center;
    width: 50rem;

}

.pagseosem {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12rem auto auto auto 20rem;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer"
}
.section__redes article {
    align-self: center;
}

@media only screen and (max-width: 1024px)
    {   .section__multimedia {
        flex-direction: column;
        height: auto;
    }
        .section__multimedia div {
        flex-direction: column;
        }
        .section__md {
            padding: 8rem;
            font-size: 1.5rem;
            width: auto;
        }
}

@media only screen and (max-width: 768px)  
{
    .formindex ul{
        list-style: none;
        width: 20rem;
    }
    .formp {
        width: 50%;
        align-self: left;
}
    .mapa {
    width: 40rem;
    padding-left: 3rem;
}

    .footer__maps {
    width: 33%;
    align-self: center;
    

}
.footer__ig{
    width: 20rem;
}
}

@media only screen and (max-width: 320px)  
{
    .img__md{
        width: 20rem;
        padding: 1rem;
        align-self: center;
    }
    .section__info {
        flex-direction: column;
        height: auto;
    }
    .mapa {
        width: 30rem;
        padding: 1rem;
    }
   
    .footer {
        flex-direction: column;
        height: auto;
        justify-items: center;
    }
    div.index {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "main"
        "main"
        "footer"
    }
    .footer__copy{
        width: 100%;
        justify-self: center;
        padding: 1rem;
       
    }
    .footer__maps {
        width: 100%;
        padding: 1rem;
    
    }
    .footer__datos{
        width: 100%;
        padding: 1rem;
}
    .footer__ig{
    width: 10rem;
    padding: 1rem;
}
    .formindex ul{
    list-style: none;
    width: 15rem;
    justify-self: center;
    }

    .formindex li {
        padding: 1rem;
        text-align: left;
}
    .formp {
    width: 80%;
    justify-self: center;
   
}
.formp p {
    font-size: 1.3rem;
    font-weight: bolder;
    width: 100%;
}
}

@media only screen and (max-width: 1024px)
    {   .blog {
        margin: 2rem;
        text-align: left;
    }
    .ventasimg {
        width: 50rem;
        justify-content: center;
        align-content: center;
        padding: 2rem;
    }
}
@media only screen and (max-width: 768px)
    {   .blog {
        margin: 2rem;
        text-align: left;
    }
    .ventasimg {
        width: 30rem;
        justify-content: center;
        align-content: center;
        padding: 2rem;
    }
}
@media only screen and (max-width: 320px)  
{  
    .blog {
    margin: 1rem;
    text-align: left;
    font-size: 1rem ;
}
    .ventasimg {
    width: 20rem;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}
.section__sobrenosotros {
    flex-direction: column;
}
.footer {
    height: 35rem;
    flex-direction: column;
    justify-items: center;
}
.div.pagquienes {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem auto 20rem;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}
.footer__copy{
    width: 100%;
    justify-self: center;
    padding: 1rem;
   
}
.footer__maps {
    width: 100%;
    padding: 1rem;

}
.footer__datos{
    width: 100%;
    padding: 1rem;
}
.footer__ig{
width: 10rem;
padding: 1rem;
}
}
@media only screen and (max-width: 320px)  
{
    .seosem__img {
        width: 30rem;
        padding: 2rem;
    }
.div.pagseosem {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem auto 20rem;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}
.section__seosem{
    flex-direction: column;
}
}
@media only screen and (max-width: 768px)  
{
    .seosem__img {
        width: 30rem;
        padding: 2rem;
    }
.div.pagseosem {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem auto 20rem;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}
}
@media only screen and (max-width: 320px)  
{
    .img__dw {
        width: 30rem;
        padding: 2rem;
    }
    .pagdw {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem auto 20rem;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}
    .section__disenoweb{
    flex-direction: column;
}
}

@media only screen and (max-width: 320px)  
{
    .img__dw {
        width: 30rem;
        padding: 2rem;
    }
    .pagredes {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem auto 20rem;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}
    .section__redes{
    flex-direction: column;
}
}

@media only screen and (max-width : 320px) {

    .form__contacto {
    font-size: 1.1rem;
    font-weight: 1em;
    text-align: justify;
    padding: 3rem;
}
}
@media only screen and (max-width : 320px) {
a:-webkit-any-link {
    color:#333333;
    cursor: pointer;
    text-decoration: none;
}
.estiloLista li{
    display: inline-block;
    font-size: 0.9rem;
    justify-content:flex-end;
    position: sticky;
    top: 0px;
  
}
ul {
    list-style: none
}
}
@keyframes multimedia {
    0% {width: 200px;}
    25% {width: 150;}
}

