@import "./variables";

.top-header { 
    background-color: $gris;
}

.nav__personalizada {
    background-color: $blanco;
}
#background1 {
    background-color: $negro_trans;
    color:$blanco;
    text-align: center;
    
}
#background2 {
    background-color: $gris;
    color: $blanco;
}
#background3 {
    background-color: #ffffff;
    color: $gris;
}

#cardindex {
    height: 30rem;
}
